<footer>
	<div class="box-footer">
		<ul class="info-footer">
			<li><a href="#">Quem somos</a></li>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Fale conosco</a></li>
			<li><a href="#">Como anunciar</a></li>
		</ul> <span class="span-redes">Redes Sociais</span>
		<h1 class="logo">Classificados BR</h1>
		<ul class="redes-footer">
			<li>
				<a><img class="icone-rede" src="assets/icones/icone-facebook.png"></a>
			</li>
			<li>
				<a><img class="icone-rede" src="assets/icones/icone-instagram.png"></a>
			</li>
			<li>
				<a><img class="icone-rede" src="assets/icones/icone-linkedIn.png"></a>
			</li>
		</ul>
	</div>
</footer>