<footer>
	<div class="box-footer">
		<ul class="info-footer">
			<li>Quem somos</li>
			<li>FAQ</li>
			<li>Fale conosco</li>
			<li>Como anunciar</li>
		</ul> <span class="span-redes">Redes Sociais</span>
		<ul class="redes-footer">
			<li>
				<a><img class="icone-rede" src="assets/icones/icone-facebook.png"></a>
			</li>
			<li>
				<a><img class="icone-rede" src="assets/icones/icone-instagram.png"></a>
			</li>
			<li>
				<a><img class="icone-rede" src="assets/icones/icone-linkedIn.png"></a>
			</li>
		</ul>
	</div>
</footer>