<footer>
	<div class="box-footer">
		<ul class="info-footer">
			<li><a href="#">Quem somos</a></li>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Fale conosco</a></li>
			<li><a href="#">Como anunciar</a></li>
		</ul> <span class="span-redes">Redes Sociais</span>
		<h1 class="logo">Classificados BR</h1>
		<ul class="redes-footer">
			<li>
				<a><img class="icone-rede" src="assets/icones/icone-facebook.png"></a>
			</li>
			<li>
				<a><img class="icone-rede" src="assets/icones/icone-instagram.png"></a>
			</li>
			<li>
				<a><img class="icone-rede" src="assets/icones/icone-linkedIn.png"></a>
			</li>
		</ul>
		<div class="icones-footer">
			<a href="https://github.com/TadeunASCIImento/front-end-portal-classificados"> <img
				src="assets/icones/icone_github.png" class="icone-github" />
			</a> <a href="mailto:tadeunascimentosp@gmail.com"> <img
				src="assets/icones/icone_email.png" class="icone-email" />
			</a> <a href="https://linkedin.com/in/tadeu-do-nascimento"> <img
				src="assets/icones/icone_linkedin.png" class="icone-linkedin" />
			</a>
			<p class="parag-foot">Desenvolvido por Tadeu do Nascimento &copy;
				{{dataAtual}}</p>
			</div>
	</div>
</footer>