<section>
	<div class="titulo">
		<h1>Simples, fácil e rápido!</h1>
		<h5>São mais de 10.000 opções de bens para você escolher!</h5> </div>
	<ul>
		<li>
			<p class="text-item">1.</p> <span>Você escolhe o Bem que Gostou.</span> </li>
		<li>
			<p class="text-item">2.</p> <span>Preenche o Formulário com suas informações de contato.</span> </li>
		<li>
			<p class="text-item">3.</p> <span>Um consultor entrará em contato com você.</span> </li>
		<li>
			<p class="text-item">4.</p> <span>Você também pode acompanhar pelo Chat no Login.</span> </li>
	</ul>
</section>